.board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);

    background-color: #313131;
}

.filler {
    height: 8em;
    border: 1px dashed grey;
}