h1 {
    font-family: 'Reem Kufi', sans-serif;
    background-color: #2A3457;
    color: #F2EAED;

    font-weight: 100;
    font-size: 2.4em;

    padding: .5% 5% 0%;
    border-radius: 20px;
    letter-spacing: 2px;
}

h2 {
    font-family: 'Reem Kufi', sans-serif;
    margin: 1%;
}

p {
    font-family: 'Reem Kufi', sans-serif;
}

input {
    border: 1px solid #2A3457;
    border-radius: 10%;
}

select {
    border: 1px solid #2A3457;
}